@model AgendaOnline.MVC.Models.ContactViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Agenda Online</h2>

<h4>Cadastro de Contato</h4>
<hr />
<div class="row">
    <div class="col-md-4">       
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nome:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label">Endereço:</label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">

                <div class="grupo">
                    <label for="email">E-mail:</label>
                    <input id="email" name="email" type="text" placeholder="digite o e-mail" class="campo">
                </div>
                <div class="grupo">
                    <label for="tipo_email">E-mail:</label>
                    <select id="tipo_email">
                        @foreach (var item in ViewBag.Tipos)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
                <button id="adicionar-email" class="botao bto-principal" type="button">Adicionar</button>
                <table id="tabela-email" border="1">
                    <tbody id="tabela-email-dados"></tbody>
                </table>

            </div>
            <div class="form-group">

                <div class="grupo">
                    <label for="telefone">Telefone:</label>
                    <input id="telefone" name="telefone" type="text" placeholder="digite o telefone" class="campo">
                </div>
                <div class="grupo">
                    <label for="tipo_telefone">Telefone:</label>
                    <select id="tipo_telefone">
                        @foreach (var item in ViewBag.Tipos)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
                <button id="adicionar-telefone" class="botao bto-principal" type="button">Adicionar</button>
                <table id="tabela-telefone" border="1">
                    <tbody id="tabela-telefone-dados"></tbody>
                </table>

            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label">Empresa:</label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
